<section class="num-margin-b-40" fxLayout="column">
  <div class="main-header">
    <h3 class="title">{{ 'DASHBOARD.INTRODUCTION.HEADER' | translate }}</h3>
  </div>

  @for (block of blocks; track block) {
    <div fxLayout="row wrap" fxLayoutGap="50px" class="introduction">
      <div fxFlex="100%" class="content">
        @if (block.HEADER) {
          <h4>{{ block.HEADER }}</h4>
        }
        @if (block.BODY) {
          <p [innerHtml]="block.BODY"></p>
        }
      </div>
    </div>
  }
</section>

<num-metrics></num-metrics>
@if (isLoggedIn) {
  <num-latest-projects></num-latest-projects>
}

@if (isLoggedIn) {
  <section fxLayout="column" class="section">
    <div class="header">
      <h3>{{ 'DASHBOARD.INFO_CARD.HEADER' | translate }}</h3>
    </div>
    <div fxLayout="row wrap">
      @for (card of cards; track card) {
        <div
          fxFlex.gt-sm="49%"
          fxFlex.sm="49%"
          fxFlex.xs="100%"
          class="info-board"
          [ngStyle.xs]="{ 'no-margin-r': true }"
          (click)="openCardUrl(card.url)"
        >
          <img
            class="content-image"
            [attr.src]="'assets/cards/' + card.imageId?.toLowerCase() + '.jpg'"
            alt="card-icon"
          />
          <fa-icon class="info-board--icon" icon="external-link-alt"></fa-icon>
          <div class="content">
            <h4>{{ card[displayLang]?.title }}</h4>
            <p>
              {{ card[displayLang]?.text }}
            </p>
          </div>
        </div>
      }
    </div>
  </section>
}
