<section
  class="num-footer"
  role="contentinfo"
  fxLayout="column-reverse"
  fxLayout.gt-sm="row"
  fxLayoutAlign="space-between center"
>
  <div>
    @if (config.legal.copyrightOwner) {
      © {{ config.legal.copyrightOwner }}
    }
  </div>

  <section role="region" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
    @for (link of links; track link.query; ) {
      @if (!link.url) {
        <a
          (click)="menuItemClicked($event)"
          mat-button
          class="link-button"
          [routerLink]="[link.route]"
        >{{ link.query | translate }}</a
        >
      } @else {
        <a
          (click)="menuItemClicked($event)"
          mat-button
          class="link-button"
          href="{{ link.url }}"
          target="_blank"
        >{{ link.query | translate }}</a>

      }
      @if (!$last) {
        <mat-divider [vertical]="true"></mat-divider>
      }
    }
  </section>
</section>
